@model CannabisChoice.Models.Review

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strain.StrainId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReviewId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
