@model IEnumerable<CannabisChoice.Models.Review>

@{
    ViewData["Title"] = "Review's";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User's Review</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New Review</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReviewText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strain.StrainId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReviewId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
                </td>
            }

        </tr>
        }
    </tbody>
</table>
